<div class="edit-profile-image center-align">
  <%= devise_error_messages! %>
  <div class="container center-align edit-profile-form">
    <h1 class="edit-profile-header">Edit <%= resource_name.to_s.humanize %></h1>
    <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>

    <div class="left-align">
      <%= f.label :email %><br />
      <%= f.email_field :email, autofocus: true %>
    </div>

    <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
    <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
    <% end %>

    <div class="left-align">
      <%= f.label :password %> <i class="password">(leave blank if you don't want to change it)</i>
      <% if @minimum_password_length %>
      <em class="edit-pass-confirm"><%= @minimum_password_length %> characters minimum</em>
      <% end %>
      <%= f.password_field :password, autocomplete: "off" %>
    </div>

    <div class="left-align">
      <%= f.label :password_confirmation %><br />
      <%= f.password_field :password_confirmation, autocomplete: "off" %>
    </div>

    <div class="left-align">
      <%= f.label :current_password %> <i class="password">(we need your current password to confirm your changes)</i><br />
      <%= f.password_field :current_password, autocomplete: "off" %>
    </div>

    <div class="picture-upload edit-picture">
      <p class="white-title center-align">Upload Profile Picture</p>
      <%= f.file_field :profile_photo, class:'choose_file' %>
    </div>

    <button class="btn waves-effect waves-teal #ef6c00 orange darken-3">
      <i class="material-icons right"></i>
      <%= f.submit "Update" %>
    </button>

    <% end %>

    <%= link_to "Back", :back %>
  </div>

  <div class="container center-align edit-profile-cancel">
    <h3 class="edit-profile-header">Cancel my account!</h3>
    <p><%= button_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete %></p>
  </div>
</div>
