<!DOCTYPE html>
<html>
  <head>
    <title>MonologueApp</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
     <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
     <link href="https://fonts.googleapis.com/css?family=Gudea" rel="stylesheet">
     <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  </head>

  <body>
    <ul id="nav-bar-dropdown" class="dropdown-content">
      <% if user_signed_in? %>
      <li><%= link_to 'Sign Out', destroy_user_session_path, method: :delete %></li>
      <li><%= link_to 'Profile', user_path(current_user) %></li>
      <% else %>
      <li> <%= link_to 'Sign In', new_user_session_path %> </li>
      <li><%= link_to 'Sign Up', new_user_registration_path %></li>
      <% end %>
    </ul>
    <nav>
      <div class="nav-wrapper #ef6c00 orange darken-3">
        <a class="nav-title">Monomemorizer</a>
        <ul class="right hide-on-med-and-down">
          <% if user_signed_in? %>
            <li class="profile-photo"><%= image_tag(current_user.profile_photo.small_profile_picture) %></li>
          <% end %>
          <li><a class="dropdown-button menu-button" href="#" data-activates="nav-bar-dropdown">Menu<i class="material-icons right">arrow_drop_down</i></a></li>
        </ul>
      </div>
      <p class="notice center-align"> <%= notice %></p>
      <p class="alert center-align"> <%= alert %></p>
    </nav>
    <%= yield %>
  </body>
</html>
